[tool.poetry]
name = "tap-checkly"
version = "0.0.0"
description = "Singer tap for Checkly, built with the Meltano SDK for Singer Taps."
license = "Apache-2.0"
authors = ["Edgar Ramírez-Mondragón <edgarrm358@gmail.com>"]
maintainers = ["Edgar Ramírez-Mondragón <edgarrm358@gmail.com>"]
readme = "README.md"
homepage = "https://github.com/edgarrmondragon/tap-checkly"
repository = "https://github.com/edgarrmondragon/tap-checkly"
documentation = "https://github.com/edgarrmondragon/tap-checkly/#readme"
keywords = [
  "ELT",
  "singer.io",
  "Checkly",
]

[tool.poetry.dependencies]
python = "<3.12,>=3.8"
singer-sdk = "~=0.31.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.2"

[tool.pytest.ini_options]
addopts = "-vvv"

[tool.mypy]
python_version = "3.10"
warn_unused_configs = true

[[tool.mypy.overrides]]
ignore_missing_imports = true
module = ["backoff.*"]

[build-system]
build-backend = "poetry.core.masonry.api"
requires = [
  "poetry-core==1.7.0",
  "poetry-dynamic-versioning",
]

[tool.poetry.scripts]
# CLI declaration
"tap-checkly" = "tap_checkly.tap:TapCheckly.cli"

[tool.poetry-dynamic-versioning]
enable = true
format-jinja = """
    {%- if distance == 0 -%}
        {{ serialize_pep440(base, stage, revision) }}
    {%- elif revision is not none -%}
        {{ serialize_pep440(base, stage, revision + 1, dev=distance, metadata=[commit]) }}
    {%- else -%}
        {{ serialize_pep440(bump_version(base), stage, revision, dev=distance, metadata=[commit]) }}
    {%- endif -%}
"""
metadata = true
style = "pep440"
vcs = "git"

[tool.ruff]
ignore = [
  "ANN101", # missing-type-self
  "DJ",     # flake8-django
]
line-length = 88
select = ["ALL"]
src = ["tap_checkly", "tests"]
target-version = "py38"
unfixable = [
  "ERA001",  # commented-out-code
]

[tool.ruff.isort]
known-first-party = ["tap_checkly"]
required-imports = ["from __future__ import annotations"]

[tool.ruff.per-file-ignores]
"noxfile.py" = ["ANN", "INP001"]
"tests/*" = [
  "ANN201",  # missing-return-type-public-function
  "S101",    # assert
  "SLF001",  # private-member-access
]

[tool.ruff.pydocstyle]
convention = "google"
